.sub-header-greenBack {
  background: url(./assets/greenBackHeader.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.sub-header-greenBack h2 {
  font-size: 36px;
}

.sub-header-greenBack a {
  text-decoration: none;
  color: white !important;
  font-weight: 400;
}

/* ---------------------- Turn Your Expertise into Income ---------------------- */

.turn-expertise-income-container {
    border-radius: 20px;
    background: linear-gradient(90deg, #003C0D 5.82%, #217738 100%);
    margin: 100px 8vw 140px 8vw;
}

.simple-promotional-video-container{
        margin: 0px 8vw 140px 8vw;
}

@media screen and (max-width: 768px) {
    .turn-expertise-income-container {
        margin: 100px 3vw 140px 3vw;
        height: fit-content;
    }

    .simple-promotional-video-container{
        margin: 0px 3vw 140px 3vw;
}
    
}

.turn-expertise-income-title{
    color: #FFF;
    font-size: 3.75rem;
    font-weight: 700;
}



.turn-expertise-income-subtitle{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 50px;
}

@media screen and (max-width: 1280px) {
    .turn-expertise-income-title {
        font-size: 2.3rem;
    }

    .turn-expertise-income-subtitle{
      margin-bottom: 20px;
    }
  
}

.turn-income-expertise-btn{
    border-radius: 15px;
    background: #217738;
    font-weight: 500;
    color: white;
    width: fit-content;
    box-shadow: none!important;
    padding: 10.169px 30.282px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.turn-income-expertise-btn:hover{
    background: #DBAB00;
    color: black;
}

.turn-income-expertise-btn:hover svg path{
    stroke: black;
}

.turn-income-expertise-arrow{
    bottom: -30px;
    left: 213px;
}

.turn-expertise-income-image img {
    
    object-fit: cover;
}

.turn-expertise-income-content{
  align-self: center;
}

.turn-expertise-income-image{
  align-self: flex-end;
}

/* Override absolute positioning on small screens */
@media screen and (max-width: 991px) {
    .turn-expertise-income-image {
        text-align: center !important;
        position: relative !important;
        margin-top: 40px;
    }

    .turn-expertise-income-image img {
        position: relative !important;
        width: 100%;
        max-height: 300px;
    }

    .turn-expertise-income-content {
        align-items: center;
        text-align: center;
    }

    .turn-income-expertise-arrow {
        display: none; /* Optional: hide decorative arrow on small screens */
    }
}


/* ----------------- Simple Promotional Video ----------------- */
.simple-promotional-video-title{
    font-weight: 600;
    font-size: 3rem;
}
.simple-promotional-video-subtitle{
    color: #657869;
    font-size: 16.085px;
    font-style: normal;
    font-weight: 400;
    font-family: "Rethink Sans";
    padding: 0!important;
    margin-bottom: 50px;
}

.simple-promotional-video-title span {
  color: #DAB123;
}

@media (max-width: 768px) {
  .become-inst-content-text {
    font-size: 2.5rem;
  }
}

.simple-promotional-video-greenBack {
  background-color: #164F26;
  border-radius: 30.789px;
  /* height: 600px; */
}

.video-wrapper {
  background: url(./assets/becomeInstractorVideoPoster.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30.876px;
  top: 0px;
  right: 0px;
  /* height: 600px; */
}

.video-wrapperr{
  background: linear-gradient(0deg, #164F26 0%, rgba(22, 79, 38, 0.00) 100%);
  border-radius: 30.876px;
  top: 20px;
  right: 20px;
  /* height: 352px; */
}

.simple-promotional-play-btn {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  color: #222;
  border: none;
  background-color: rgba(231, 191, 43, 0.4);
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease;
}

/* Pulse animation */
.simple-promotional-play-btn::before,
.simple-promotional-play-btn::after {
  content: "";
  position: absolute;
  top: -15%;
  left: -13%;
  width: 130%;
  height: 130%;
  background: rgba(250, 207, 57, 0.40);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1.8s infinite;
  z-index: -1;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0.4;
  }

  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}



.watch-text {
  position: absolute;
  bottom: 17px;
  font-family: Playfair;
  font-style: italic;
  font-size: 2rem;
  font-weight: 500;
  color: #FACF39;
}

.simple-promotional-content-text {
  font-weight: 600;
  font-size: 3rem;
}


@media (max-width: 768px) {
  .video-wrapper,.video-wrapperr {
    height: 100%;
    right: 0;
  }

  .simple-promotional-content-text {
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 1024px) {
    .simple-promotional-play-btn {
    top: 55%;
  }
  
}

/* -------------------------  Find Your Perfect Plan ------------------------- */
.find-perfect-plan-container {
    margin: 140px 8vw 140px 8vw;
}

.find-perfect-plan-container  hr{
    margin: 32px 0px!important;
    color: #cecece!important;
}
@media screen and (max-width: 768px) {
    .find-perfect-plan-container {
        margin: 140px 3vw 140px 3vw;
    }
}

.find-perfect-plan-title{
    font-weight: 600;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .find-perfect-plan-title {
        font-size: 2.2rem;
    }
  
}
.find-perfect-plan-subtitle{
    color: #657869;
    font-size: 16.085px;
    font-style: normal;
    font-weight: 400;
    font-family: "Rethink Sans";
    padding: 0!important;
    margin-bottom: 20px;
}
.switch-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      background-color: #fff;
}

    .choose-perfect-plan-month-year,
    .choose-perfect-plan-instructor-organization {
      display: flex;
      background-color: #237c3b;
      border-radius: 999px;
      padding: 4px;
    }

    .choose-perfect-plan-month-year .switch-btn,
    .choose-perfect-plan-instructor-organization .switch-btn {
      border: none;
      border-radius: 999px;
      padding: 10px 25px;
      background-color: transparent;
      color: white;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .choose-perfect-plan-month-year .switch-btn.active,
    .choose-perfect-plan-instructor-organization .switch-btn.active {
      background-color: #fcd439;
      color: black;
      font-weight: 600;
    }
.find-perfect-plan-title span {
    color: #DAB123;
}

.find-perfect-plan-options-container{
    margin-top: 50px;
}

.find-perfect-plan-options-container .plan-card {
  border-radius: 15px;
  background: #F9F9F9;
  transition: all 0.3s ease-in-out;
  border: 1px solid #E9E9E9;
  padding: 32px;
}

.plan-type-badge{
    background: #FACF39;
    color: #000;
    font-weight: 400;
    padding: 10px 16px;
    border-radius: 20px;
    display: flex;
    width: fit-content;
    margin-bottom: 16px;
    min-width: 80px;
    justify-content: center;
}

.plan-description{
    color: #657869;
    font-weight: 400;
    text-align: justify!important;
}

.find-perfect-plan-options-container .plan-card .plan-price {
  font-size: 3.5rem;
  font-weight: 600;
  color: #0B2711;
  text-align: justify!important;
}

.find-perfect-plan-options-container .plan-card .plan-price span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #657869;
}

.find-perfect-plan-options-container .plan-card .subscribe-btn {
  font-weight: 600;
  border-radius: 8px;
}

.starter-plan li,.expert-plan li{
    color: #657869;
    font-weight: 400;
}

.pro-plan li{
    color: white;
    font-weight: 500;
}

.find-perfect-plan-options-container .pro-plan {
  background: #136c36;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.find-perfect-plan-options-container .pro-plan .plan-description,
.find-perfect-plan-options-container .pro-plan .plan-price,
.find-perfect-plan-options-container .pro-plan .plan-price span {
  color: white;
}

.find-perfect-plan-options-container .pro-plan hr {
  border-color: rgba(255, 255, 255, 0.4);
}

.find-perfect-plan-options-container .expert-plan .subscribe-btn ,
.find-perfect-plan-options-container .starter-plan .subscribe-btn {
  background: #EEEEEE;
  color: #657869;
  padding: 12px 20px;
}
.find-perfect-plan-options-container .pro-plan .subscribe-btn {
  background: #FACF39;
  color: #000;
padding: 12px 20px;
}

.find-perfect-plan-options-container .plan-card ul li {
  margin-bottom: 8px;
  font-size: 0.95rem;
}

.find-perfect-plan-options-container .plan-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* ------------------- what-you-get-section ---------------------- */

.what-you-get-container{
    /* height: 800px; */
    background:url(./assets4/what-you-get-containeBG.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 140px 0vw 140px 0vw;
}
.what-you-get-content{
    margin: 0px 8vw 0px 8vw;
}

@media screen and (max-width: 768px) {
    .what-you-get-content{
        margin: 0px 3vw 0px 3vw;
    }

    .what-you-get-container{
        height: fit-content;
    }
    
}

.what-you-get-cards-container .what-card {
  background: #fff;
  padding: 36px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: all 0.3s ease-in-out;
  min-height: 200px;
}

.what-you-get-cards-container .what-card .icon-box {
  width: 60px;
  height: 60px;
  background: #FACF39;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.what-you-get-cards-container .what-card h5 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  font-weight: 500;
  color: #0B2711;
}

.what-you-get-cards-container .what-card p {
  color: #657869;
  font-weight: 400;
}

/* Hover Effect */
.what-you-get-cards-container .what-card:hover {
  background: #136c36;
  color: #fff;
  transform: translateY(-5px);
}

.what-you-get-cards-container .what-card:hover h5,
.what-you-get-cards-container .what-card:hover p {
  color: #fff;
}

/* -------------------- Who is it for  ------------------------ */
.who-is-it-for-container{
    margin: 140px 8vw 140px 8vw;
}

@media screen and (max-width: 768px) {
    .who-is-it-for-container{
        margin: 140px 3vw 140px 3vw;
    }
    
}

.who-is-it-for-cards-container .who-card {
  border: 1px solid #E9E9E9;
  background: #F9F9F9;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  position: relative;
  margin-bottom: 30px;
  height: 100%;
}

.who-is-it-for-cards-container .who-card img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.who-is-it-for-cards-container .who-card h4 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  color: #0B2711;
  font-weight: 500;
}

.who-is-it-for-cards-container .who-card p {
  font-weight: 400;
  margin-bottom: 15px;
  color: #657869;
}

.who-is-it-for-cards-container .badge-group .badge {
  background-color: #EEEEEE;
  color:#657869 ;
  padding: 8px 16px;
  margin: 5px;
  font-weight: 400;
  border-radius: 20px;
}

.who-is-it-for-cards-container .who-card button {
  font-weight: 600;
  border-radius: 30px;
  border: 8px solid #FFF;
  position: absolute;
  left: 50%;
  bottom: -25px;
transform: translateX(-50%);

}

/* Hover Effect */
.who-is-it-for-cards-container .who-card:hover {
  background: var(--Linear, linear-gradient(180deg, #FBCF3A 0%, #FADC6C 100%));
  transform: translateY(-8px);
}

.who-is-it-for-cards-container .who-card:hover p {
  color: #4D4D4D;
}

.who-is-it-for-cards-container .who-card:hover button {
  background: #136c36;
  color: #fff;
}


.who-is-it-for-cards-container .who-card:hover button svg path{
    stroke: white;
}

/* -- ---------------------Quick Comparison of available plans. -------------------------  */
.quick-comparison-container{
    margin: 140px 8vw 140px 8vw;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    background: #FFF;
    padding: 36px 20px;
}

@media screen and (max-width: 768px) {
    .quick-comparison-container{
        margin: 140px 3vw 140px 3vw;
    }
    
}

.quick-comparison-title {
    color: #0B2711;
    font-size: 3rem;
    font-weight: 600;
}

.quick-comparison-title span {
    color: #DAB123;
}
@media screen and (max-width: 768px) {
    .quick-comparison-title {
        font-size: 2.5rem;
        text-align: center;
    }
}

.quick-comparison-container .card{
    border: 1px solid #E9E9E9;
    border-radius: 12px;
    background: #F9F9F9;
    padding: 32px;
}

.quick-comparison-container .card .badge {
    background: #FACF39;
    color: #0B2711;
    font-weight: 400;
    padding: 10px 16px;
    border-radius: 20px;
    display: flex;
    width: fit-content;
    margin-bottom: 16px;
    min-width: 80px;
}

.quick-comparison-container .card .pro-badge {
    background-color: #1F993E;
    color: white;
    font-weight: 600;
    font-family: "Rethink Sans";

}

.pro-card{
    background: #217738!important;
}

.quick-comparison-container .card h2 {
    font-size: 3rem;
    color: #0B2711;
    font-weight: 600;
}
.quick-comparison-container .pro-card h2 {
    color: white;
}

@media screen and (max-width: 768px) {
    .quick-comparison-container .card h2 {
        font-size: 2rem;
    }
    
}

.quick-comparison-container .card p {
    color: #657869;
    font-weight: 500;
    margin-bottom: 20px;
}

.quick-comparison-container .pro-card p {
    color: white;
}

.quick-comparison-container .card .subscribe-btn{
  background: #EEEEEE;
  color: #657869;
  padding: 10px 20px;
  font-weight: 500;
  box-shadow: none!important;
  display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.quick-comparison-container .pro-card .subscribe-btn,.quick-comparison-get-started-btn {
  background: #FACF39;
  color: #000;
  box-shadow: none!important;
}

.quick-comparison-get-started-btn{
  border-radius: 10px;
}

.quick-comparison-container .card .subscribe-btn:hover {
  background: #FACF39;
  color: #000;
  box-shadow: 0 2px 8px rgba(250, 207, 57, 0.15);
  transition: background 0.2s, color 0.2s;
}

.quick-comparison-container .pro-card .subscribe-btn:hover,.quick-comparison-get-started-btn:hover {
  background: #1F993E;
  color: white;
  box-shadow: 0 2px 8px rgba(101, 120, 105, 0.10);
  transition: background 0.2s, color 0.2s;
}

.quick-comparison-container .table>:not(caption)>*>*{
    border: 0!important;
}

.quick-comparison-table th{
color: #0B2711;
font-weight: 500;
font-size: 17px;
}
.quick-comparison-table td{
color: #657869;
font-weight: 400;
}

.quick-comparison-table .table>:not(caption)>*>*{
  padding: 15px!important;
}

.quick-comparison-table .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #ffffffde !important;
  border-radius: 10px;
  overflow: hidden;
}

.quick-comparison-table .table-striped>tbody>tr:nth-of-type(odd) th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quick-comparison-table .table-striped>tbody>tr:nth-of-type(odd) td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* ----------------------- Pricing Reviews Section ----------------------- */
.pricing-reviews-title{
    color: #0B2711;
    font-size: 3rem;
    font-weight: 600;
}

.pricing-reviews-container {
    margin: 140px 8vw 140px 8vw;
}
@media screen and (max-width: 768px) {
    .pricing-reviews-container {
        margin: 140px 3vw 140px 3vw;
    }
}

/* --------------------------------------------------------------------------------- common review secton --------------------------- */
.instructor-review-card {
  padding: 33px;
    position: relative;
    min-height: 320px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    perspective: 1000px;
    border-radius: 20px;
    border: 1px solid #E9E9E9;
    background: #F8F8F8;
}

.instructor-review-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}


.reviewer-info{
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, rgba(229, 231, 235, 0.00) 0%, #E5E7EB 50%, rgba(229, 231, 235, 0.00) 100%) 1;
}
.reviewer-image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 16px;
}
.reviewer-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.review-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.review-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #164F26 0%, rgba(22, 79, 38, 0.00) 100%);
    z-index: 2;
}

.review-card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 3;
    text-align: center;
}

.review-play-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(250, 207, 57, 0.40);
    outline: rgba(250, 208, 57, 0.208) solid 4px;
    color: #FBCF3A;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.review-play-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Existing styles for front side */
.reviewer-name {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.reviewer-title {
    font-weight: 400;
    margin-left: 15px;
}

.review-text {
   text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    color: #657869;
    font-weight: 400;
}

.star-rating {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1;
  margin: 20px 0 14px 0;
}

.star-rating .star {
  color: #ddd; /* Outline star color */
  margin-right: 4px;
  position: relative;
}

.star-rating .star.filled {
  color: #FACF39; /* Filled star color */
}

.star-rating .star.half-filled::after {
  content: '\2605'; /* Filled star */
  color: #FACF39;
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .instructor-review-card {
        height: 250px;
    }
    
    .review-card-front,
    .review-card-back {
        padding: 15px;
    }
}


/* --------------------- popups ---------------------------------- */
/* Custom modal styling */
#reviewMediaModal .modal-content {
  min-height: 300px;
  border-radius: 20px;
  padding: 33px;
  background: white;
  box-shadow: none;
}

#reviewMediaModal .modal-header {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.btn-close:focus {
    box-shadow: none;
}


/* ----------------------- record desgine ------------------- */
.about-instructor-left-side-audio button{
    background-color: #ffffff!important;
    width: 38px!important;
    height: 36px!important;
    box-shadow: none!important;
}

.audioWaveform-wrap {
    width: 100%;
    height: 48px; /* or any value you prefer */
    min-width: 120px;
}

.about-instructor-left-side-audio button .audio-icon{
    position: relative;
    width: 21px;
    height: 21px;
    background-color: #f1da86;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    color: #217738;
}

.about-instructor-left-side-audio button .audio-icon::before {
    content: "";
    animation: pulse 3s infinite 0.5s ease-out;
    position: absolute;
    height: 128%;
    width: 128%;
    background: #facf39;
    opacity: 0.4;
    border-radius: 50%;
    z-index: -1;
}

.about-instructor-left-side-audio button .audio-icon::after {
    content: "";
    animation: pulse 2s infinite ease-in-out;
    position: absolute;
    height: 156%;
    width: 156%;
    background: #facf39;
    opacity: 0.2;
    border-radius: 50%;
    z-index: -1;
}


@keyframes pulse {
  0% {
    transform: scale(.6);
    opacity: .7;
  }
    50% {
        transform: scale(1);
        opacity: 0.5;
    }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.about-instructor-left-side-audio{
    padding: 10px 15px;
    background-color: #F9F9F9;
    border-radius: 10px;
    overflow: hidden;
}

.audio-wrapper-container{
    padding: 7px 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

/* --------------------------------------------------------------------------------- common review secton end --------------------------- */

/* -------------- common question section --------------------------- */
.be-instructor-faq-section .accordion-item {
  border: none;
  margin-bottom: 15px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.be-instructor-faq-section .accordion-header {
  background-color: white;
}

.be-instructor-faq-section .accordion-header:has(.accordion-button:not(.collapsed)) {
  border: none;
}

.be-instructor-faq-section .accordion-header .accordion-button:not(.collapsed) {
  border: 0 !important;
}

.be-instructor-faq-section .accordion-button {
  font-weight: 500;
  position: relative;
  padding: 35px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  box-shadow: none !important;
}

.be-instructor-faq-section .accordion-button.collapsed {
  border-radius: 20px !important;
}

.be-instructor-faq-section .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  /* Set actual size */
  height: 1.25rem;
  margin-left: auto;
  background-image: url('./assets/plus-solid.svg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
  /* Needed to show pseudo-element */
  transition: transform 0.2s ease;
  border: none;
  font-size: 0;
  /* Hide text space if any */
  color: transparent;
  /* Remove any default color */
}

.be-instructor-faq-section .accordion-button:not(.collapsed)::after {
  background-image: url('./assets/minus-solid.svg') !important;
}

.be-instructor-faq-section .accordion-button:focus {
  box-shadow: none;
}

.be-instructor-faq-section .accordion-item {
  background: #FADC6C;
  border: 1px solid #E9E9E9;
  border-radius: 20px 20px;
}

.be-instructor-faq-section .accordion-item .accordion-button:not(.collapsed)  {
  background: #FADC6C;
}

.be-instructor-faq-section .accordion-item .accordion-button:not(.collapsed) {
  background:  var(--Linear, linear-gradient(180deg, #FBCF3A 0%, #FADC6C 100%));
  color: #000;
}

.be-instructor-faq-section .faq-video-button {
  width: fit-content;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  padding: 6px 12px;
  font-size: 14px;
  gap: 5px;
  border-radius: 6px;
  margin-top: 10px;
  transition: 0.4s;
}


.be-instructor-faq-section .faq-video-button:hover {
  background-color: #ffe165;
  transform: scale(1.03);
}


.be-instructor-faq-section .faq-video-button img {
  width: 20px;
  height: 20px;
}

/* ------------------ ----------------- common question section end --------------------------- */

.be-instructor-faq-section {
  margin: 140px 8vw 140px 8vw;
}
@media screen and (max-width: 768px) {
  .be-instructor-faq-section {
    margin: 140px 3vw 140px 3vw;
  }
  
}

/* ------------------------ subscribe with no risk section ------------------- */

.subscribe-with-no-risk-container{
    margin: 140px 8vw 140px 8vw;
    background: linear-gradient(90deg, #003C0D 5.82%, #217738 100%);
    border-radius: 20px;
}

.subscribe-with-no-risk-container h2{
    color: #FFF !important;
    font-size: 3rem;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .subscribe-with-no-risk-container{
        margin: 140px 3vw 140px 3vw;
    }
}

.subscribe-with-no-risk-subtitle{
  color: white;
  font-weight: 600;
}


/* ------------------------ Are you feeling hesitant about getting started? ------------------- */

.feel-hesitant-container{
  background-color: #F8F8F8;
  padding: 80px 8vw;
}

.feel-hesitant-container h1, .feel-hesitant-container p{
  color: #0B2711;
}

.feel-hesitant-container h1{
  margin-bottom: 32px;
}
.feel-hesitant-container button{
  color: #0B2711!important;
}

@media screen and (max-width: 768px) {
 .feel-hesitant-container{
  padding: 80px 3vw;
}
  
}

.feel-hesitant-start-btn{
  background: #FACF39;
  color: #000;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 16px;
  box-shadow: none!important;
  transition: all 0.3s ease-in-out;
}
.feel-hesitant-start-btn:hover{
  background: #217738;
  color: white !important;;
}
.feel-hesitant-start-btn:hover svg path{
  stroke: white;
}

.feel-hesitant-right .contact-card {
  display: flex;
  align-items: center;
    flex-wrap: wrap;

  border-radius: 12px;
  padding: 16px 20px;
}

.feel-hesitant-right .email-card {
  border-radius: 10px;
background: #FACF39;
padding: 27px;
}

.feel-hesitant-right .whatsapp-card {
  border-radius: 10px;
background:  #154129;
padding: 27px;
}

.feel-hesitant-right .contact-icon {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feel-hesitant-right .contact-icon img {
  width: 32px;
  height: 32px;
}

.feel-hesitant-right .contact-info {
  text-align: left;
}

.feel-hesitant-right .contact-label {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 600;
  color: #0B2711;
}

.feel-hesitant-right .whatsapp-card .contact-label {
  color: #ccc;
}

.feel-hesitant-right .contact-text {
  margin: 0;
  font-weight: 500;
  color: #0B2711;
}
